h1{
  text-align: center;
  text-shadow: 4px 4px gray;
  border-bottom: 3px;
  border-bottom-style: solid;
  padding-bottom: 7px;
  font-size: 30px;
}
p{
  text-align: center;
  font-size: 20px;
  letter-spacing: 3px;
}
body{
  background-image: url(https://s-media-cache-ak0.pinimg.com/736x/2e/c6/b5/2ec6b5e14fe0cba0cb0aa5d2caeeccc6--interesting-wallpapers-pink-sky.jpg);
}
